name: 'Auto Assign and Notify'

on:
    pull_request:
        types: [opened, ready_for_review]

jobs:
    add-reviews:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Auto assign reviewer
              id: auto-assign
              uses: kentaro-m/auto-assign-action@v2.0.0
              with:
                  # Only needed if you use something other than .github/auto_assign.yml
                  configuration-path: '.github/assign_config.yml'

            - name: Send Slack Notification
              uses: rtCamp/action-slack-notify@v2
              env:
                  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
                  SLACK_MESSAGE: |
                      리뷰어로 할당되었습니다. :pray: 
                      PR 제목: ${{ github.event.pull_request.title }}
                      담당자: ${{ github.event.pull_request.user.login }}
                      리뷰어: ${{ steps.auto-assign.outputs.assigned_reviewers }}
                      리뷰 URL: ${{ github.event.pull_request.html_url }}
