name: 'Auto Assign and Notify'

on:
    pull_request:
        types: [opened, ready_for_review]

jobs:
    add-reviews:
        runs-on: ubuntu-latest
        steps:
            - name: Auto assign reviewer
              id: auto-assign
              uses: kentaro-m/auto-assign-action@v2.0.0
              with:
                  configuration-path:
                      '.github/assign_config.yml'
                      # Only needed if you use something other than .github/auto_assign.yml

            - name: Send Slack Notification
              uses: rtCamp/action-slack-notify@v2
              env:
                  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
                  SLACK_MASSAGE: '리뷰어로 할당되었습니다. :pray: |
                  PR 번호: #${{ github.event.pull_request.title }} |
                  담당자: ${{ github.event.pull_request.user.login }} |
                  리뷰어: @${{ steps.auto-assign.outputs.assigned_reviewers }} |
                  리뷰 URL: ${{ github.event.pull_request.html_url }}'
